.modal-body{
    left: 150px;
}

.margin{
    margin-top: 10px;
}

.name, .age, .sex, .email, .other{
    margin-left: 27px;
}

.username{
    margin-left: 13px;
}

table{
    margin-left: 50px;
}

.col-th{
    width: 140px;
}

.col-other{
    width: 180px;
}

.col{
    width: 150px;
}

.title{
    color: #0b97c4;
    margin: 0;
    height: 70px;
    text-align: center;
    padding-top: 15px;
}

.search{
    margin-top: 11px;
    margin-left: 800px;
    border-radius: 1px;
}

.btn{
    height: 30px;
    margin-top: 10px;
}

.add-div{
    display: inline;
    margin-left: 30px;
}

.search-div{
    display: inline;
    float: left;
}